<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MuXic</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/9b01b34a95.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		//const a = alert(location.href);
		$(document).ready(function () {
			$("form").attr("action", location.href); //返回原先頁面
		});
	</script>
	<script>
		// check completion
		// name, artist, link, album, series, time
		function myfunc() {
			if ($("#name").val() && $("#artist").val() &&
				$("#link").val() && $("#album").val() &&
				$("#series").val() && $("#time").val()) {

				alert("送出!");
				return true;
			} else {
				alert("data not complete");
				return false;
			}
		}

		function dotest() {}
	</script>
	<script>
		// {% with messages = get_flashed_messages() %}
		/* {% if messages %}
				{% for message in messages %}
					*/
		alert('{{ message }}');
		/*
						{% endfor %}
					{% endif %}
					{% endwith %}*/
	</script>
</head>

<body style=" font-family: 微軟正黑體;">
	<div>
		<nav class="navbar navbar-dark bg-dark ">
			<a class="navbar-brand" style="color: white;" href="{{ url_for('main_page') }}">
				<span style="font-size: 40px">
					<i class="fas fa-music"></i>
					<b>MuXic</b>
				</span>
			</a>
		</nav>
	</div>
	<div class="px-5 mt-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<div style="font-size: 30px">
			<i class="fas fa-pencil-alt"></i>
			編輯歌曲資訊
		</div>

		<form action="default" method="POST" name="form1" style="font-size: 20px">
			<div class="form-group row" style="margin-top:30px">
				<label class="col-form-label" style="margin-left:15px">曲名</label>
				<div class="col-7">
					<input class="form-control" type="text" name="name" value='{{ name }}' placeholder='name...>'
						id="name" style="margin-left:20px">
				</div>
			</div>

			<div class="form-group row" style="margin-top:20px">
				<label class="col-form-label" style="margin-left:15px">歌手</label>
				<div class="col-7">
					<input class="form-control" type="text" name="artist" value='{{ artist }}' placeholder='artist...>'
						id="artist" style="margin-left:20px">
				</div>
			</div>

			<div class="form-group row" style="margin-top:20px">
				<label class="col-form-label" style="margin-left:15px">連結</label>
				<div class="col-7">
					<input class="form-control" type="text" name="link" value='{{ link }}' placeholder='link...>'
						id="link" style="margin-left:20px">
				</div>
			</div>

			<div class="form-group row" style="margin-top:20px">
				<label class="col-form-label" style="margin-left:15px">專輯</label>
				<div class="col-7">
					<input class="form-control" type="text" name="album" value='{{ album }}' placeholder='album...>'
						id="album" style="margin-left:20px">
				</div>
			</div>

			<div class="form-group row" style="margin-top:20px">
				<label class="col-form-label" style="margin-left:15px">系列</label>
				<div class="col-7">
					<input class="form-control" type="text" name="series" value='{{ series }}' placeholder='series...>'
						id="series" style="margin-left:20px">
				</div>
			</div>

			<div class="form-group row" style="margin-top:20px">
				<label class="col-form-label" style="margin-left:15px">長度</label>
				<div class="col-7">
					<input class="form-control" type="text" name="time" value='{{ time }}' placeholder='time...>'
						id="time" style="margin-left:20px">
				</div>
			</div>

			<!-- 送出按鈕-->
			<input type="submit" id="submit" class="btn btn-primary" value="送出" onclick="return myfunc()"
				style="margin-bottom:50px">
			<!-- 返回按鈕-->
			<input type="button" id="back" class="btn btn-warning" value="返回" href="javascript:;"
				onclick="location.href='/';" style="margin-bottom:50px; margin-left:10px">

			<input type="button" id="test" class="btn btn-warning" value="測試" href="javascript:;" onclick="dotest()"
				style="margin-bottom:50px; margin-left:20px">
		</form>
	</div>

</body>

</html>