<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MuXic</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/9b01b34a95.js"></script>
	<link rel="shortcut icon" href="https://i.imgur.com/zqbEUQ2.png"  type="image/ico" />
	<script>
		$(document).ready(function() {
			$("#nav-info").css("background-color", "#99FFFF");
		});
	</script>
</head>
<body style=" font-family: 微軟正黑體;">
{% include "macros/banner.html" %}
	<div class="row">
{% include "macros/nav.html" %}
		<div  class="col">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<span style="color:black;margin-top:40px;margin-left:10px;font-size: 40px">
				<i class="fas fa-info-circle"></i>
				關於本系統
			</span>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top:20px;font-size :20px">
			v0.1alpha
			<br>
			<br>
			孟學霸
			<i class="far fa-registered"></i>
			<br>
			團隊出品
			<br>
			<br>
			1072資料庫理論
			<br>
			期末Project
		</div>
		
		</div>
		
	</div>
</body>
</html>